<?xml version="1.0"?>
<config>
    <modules>
        <TheSunWeb_ConditionalTerms>
            <version>1.1.0</version>
        </TheSunWeb_ConditionalTerms>
    </modules>
    <global>
        <helpers>
            <cterms>
                <class>TheSunWeb_ConditionalTerms_Helper</class>
            </cterms>
        </helpers>
        <blocks>
            <cterms>
                <class>TheSunWeb_ConditionalTerms_Block</class>
            </cterms>
            <adminhtml>
            	<rewrite>
            		<checkout_agreement_edit_form>TheSunWeb_ConditionalTerms_Block_Adminhtml_Checkout_Agreement_Edit_Form</checkout_agreement_edit_form>
            	</rewrite>
            </adminhtml>
            <checkout>
            	<rewrite>
            		<agreements>TheSunWeb_ConditionalTerms_Block_Checkout_Agreements</agreements>
            	</rewrite>
            </checkout>
        </blocks>
        <models>
            <cterms>
                <class>TheSunWeb_ConditionalTerms_Model</class>
                <resourceModel>cterms_mysql4</resourceModel>
            </cterms>
            <cterms_mysql4>
                <class>TheSunWeb_ConditionalTerms_Model_Mysql4</class>
                <entities>
                    <agreement_product_attribute>
                        <table>ks_agreement_product_attribute</table>
                    </agreement_product_attribute>
                </entities>
            </cterms_mysql4>
            <checkout>
            	<rewrite>
            		<agreement>TheSunWeb_ConditionalTerms_Model_Checkout_Agreement</agreement>
            	</rewrite>
            </checkout>
        </models>
        <resources>
            <cterms_setup>
                <setup>
                    <module>TheSunWeb_ConditionalTerms</module>
                </setup>
            </cterms_setup>
        </resources>
        <events>
            <checkout_agreement_save_after>
                <observers>
                    <ks_agreement_save_attribute>
						<type>singleton</type>
                        <class>cterms/observer</class>
                        <method>saveAgreementAttributes</method>
                    </ks_agreement_save_attribute>
                </observers>
            </checkout_agreement_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TheSunWeb_ConditionalTerms before="Mage_Adminhtml">TheSunWeb_ConditionalTerms_Adminhtml</TheSunWeb_ConditionalTerms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cterms>
                    <file>cterms.xml</file>
                </cterms>
            </updates>
        </layout>
    </adminhtml>
</config>
